<!-- Footer start -->
<footer class="bg-dark py-2 px-4 ">
    <div class="container container-md">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <img src="images/logo.svg" style="height:20px">
            </div>
            <nav class="nav justify-content-center">
                <a class="nav-link text-light" href="#"><i class="fab fa-instagram"></i> <span class="d-none d-sm-inline-block">Instagram</span></a>
                <a class="nav-link text-light" href="#"><i class="fab fa-twitter"></i> <span class="d-none d-sm-inline-block">Twitter</span></a>
                <a class="nav-link text-light" href="#"><i class="fab fa-youtube"></i> <span class="d-none d-sm-inline-block">Youtube</span></a>
                <a class="nav-link text-light" href="#"><i class="fab fa-facebook"></i> <span class="d-none d-sm-inline-block">Facebook</span></a>
            </nav>
        </div>
        <div class="text-center text-light mt-2">
            <p style="margin:0"><strong>Ruboss Ltd</strong></p>
            <p>Playgendary. All rights reserved. <a href="/privacy">Privacy Policy.</a> <a href="/terms">Terms of Use.</a></p>
        </div>
    </div>
</footer>
<!-- Footer end -->