<!-- Header start -->
<header>
    {{> nav}}
    <div class="container-fluid no-gutters p-0">
        <div class="header-block position-relative justify-content-center align-items-center">
            <img class="d-none d-lg-block w-100 " src="images/games/header-games-desktop.jpg" alt="Games">
            <img class="block d-lg-none w-100" src="images/games/header-games-mobile.jpg" alt="Games">
            <h1 class="header-text position-absolute text-white display-4 text-center w-100">Our games</h1>
        </div>
    </div>
</header>
<!-- Header end -->
<!-- Main start -->
<main class="container container-md mb-5 pb-5 animated zoomIn">
    <div class="row no-gutters mt-5">
        {{#games}}
            <div class="card col-12 col-md-6 px-3 border-0 my-4">
                <img class="card-img-top" src="{{banner.desktop}}" alt="Card image cap">
                <div class="card-img-overlay text-center">
                    <img src="{{logo}}"  style="margin-top: -70px" class="w-50 mx-auto">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{list_desc}}</p>
                    <p class="card-text"><a href="/games/{{alias}}">View more ></a></p>
                </div>
            </div>
        {{/games}}
    </div>
</main>
<!-- Main end -->
{{> footer}}