<!-- Header start -->
<header>
    {{> nav}}
    <!-- Carousel start -->
    <div id="headerCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {{#games}}
                <div class="carousel-item active">
                    <img class="d-none d-lg-block w-100" src="{{header.desktop}}" alt="First slide">
                    <img class="block d-lg-none w-100" src="{{header.mobile}}" alt="First slide">
                    <div class="carousel-caption block row no-gutters ">
                        <div class="col-11 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3  offset-lg-4 mx-auto ">
                            <h2 class="display-4">{{name}}</h2>
                            <p>{{slider_desc}}</p>
                            <a href="/games/{{alias}}" class="btn btn-primary btn-lg px-5 py-3">VIEW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/games}}
    </div>
    <!-- Carousel end -->
</header>
<!-- Header end -->
<!-- Main start -->
<main class="container container-md mb-5 pb-5 animated zoomIn">
    <div class="row no-gutters text-white bg-primary">
        <a class="col-12 col-md-6 d-flex align-items-center text-center">
            <div class="mx-auto py-5">
                <h2 class="display-4">Technologies</h2>
                <p>Machine Learning<br> AR/VR<br> Unity Engine<br> Blockchain<br> Style Transfer</p>
            </div>
        </a>
        <a class="col-12 col-md-6">
            <div class="square-bg technologies"></div>
        </a>
    </div>
    <div class="row no-gutters text-white bg-primary">
        <div class="col-12 position-relative">
            <img class="d-none d-lg-block w-100" src="images/publishing_desktop.jpg">
            <img class="d-lg-none d-block w-100" src="images/publishing_mobile.jpg">
            <div class="position-absolute block row w-100 publishing no-gutters">
                <div class="col-11 col-sm-8 col-md-6 col-lg-4 mx-auto text-center">
                    <h2 class="display-4">Publishing</h2>
                    <p>We’ve acquired over 60 million users this year. We release a new game every 2 months. We know how
                        to publish games!</p>
                    <a href="/publishing" class="btn btn-danger btn-lg px-5 py-3">JOIN US</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters text-dark bg-light">
        <!-- Carousel start -->
        <div id="gamesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{#games}}
                    <div class="carousel-item active">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <img class="d-none d-md-block w-100" src="{{banner.desktop}}"
                                     alt="First slide">
                                <img class="block d-md-none w-100" src="{{banner.mobile}}"
                                     alt="First slide">
                            </div>
                            <div class="col-12 col-md-6 d-flex align-items-center text-center">
                                <div>
                                    <div>
                                        <img class="w-40" src="{{logo}}" alt="bm">
                                    </div>
                                    <div class="mt-3 w-75 mx-auto">
                                        <p>{{slider_comment}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/games}}
            </div>
            <a class="carousel-control-prev" href="#gamesCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#gamesCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Carousel end -->
    </div>
    <div class="row no-gutters text-white bg-primary">

        <a class="col-12 col-md-6 d-flex align-items-center text-center">
            <div class="mx-auto py-5">
                <h2 class="display-4">Contacts</h2>
                <p>Do you have questions?<br> We will be happy to answer!</p>
            </div>
        </a>
        <a class="col-12 col-md-6">
            <div class="square-bg contacts"></div>
        </a>
    </div>
</main>
<!-- Main end -->
{{> footer}}