<!-- Header start -->
<header>
    {{> nav}}
    <div class="container-fluid no-gutters p-0">
        <div class="header-block">
            <img class="d-none d-lg-block w-100 " src="images/tech/header-tech-desktop.jpg" alt="Technologies">
            <img class="block d-lg-none w-100" src="images/tech/header-tech-mobile.jpg" alt="Technologies">
            <h1 class="header-text position-absolute text-white display-4  text-center w-100">Technologies</h1>
        </div>
    </div>
</header>
<!-- Header end -->
<!-- Main start -->
<main class="container container-md container-md-px mb-5 pb-5 animated zoomIn">
    <div class="row no-gutters text-dark my-5 py-md-5 py-0">
        <div class="order-2 order-md-1 col-12 col-md-6">
            <div class="square-bg blockchain position-relative">
                <img class="d-none d-md-block position-absolute blockchain-dude" src="images/tech/dude-1.png" />
            </div>
        </div>
        <div class="order-1 order-md-2 col-12 col-md-6 d-flex justify-content-center align-items-center ">
            <div class="left-tech">
                <h3 class="display-4 text-dark"><strong>Blockchain</strong></h3>
                <div class="d-inline-block bg-primary mb-4" style="width:100px; height:4px;"></div>
                <h4 style="color:#858484;">The sensational technology is a part of our games monetization</h4>
            </div>
        </div>
    </div>
    <div class="row no-gutters text-dark my-5 py-md-5 py-0">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center ">
            <div class="right-tech">
                <h3 class="display-4 text-dark"><strong>Augmented Reality</strong></h3>
                <div class="d-inline-block bg-primary mb-4" style="width:100px; height:4px;"></div>
                <h4 style="color:#858484;">We widely use AR effects in our new games to entertain our players even better. We overlay fun digital content over the real things. Aside from being awesome, our AR games are a big step ahead of other arcade game-makers.</h4>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="square-bg ar position-relative">
            </div>
        </div>
    </div>
    <div class="row no-gutters text-dark my-5 pb-md-5 pb-0">
        <div class="order-2 order-md-1 col-12 col-md-6">
            <div class="square-bg ml position-relative">
                <img class="d-none d-md-block position-absolute ml-dude" src="images/tech/dude-2.png" />
            </div>
        </div>
        <div class="order-1 order-md-2 col-12 col-md-6 d-flex justify-content-center align-items-center ">
            <div class="left-tech">
                <h3 class="display-4 text-dark"><strong>Machine Learning</strong></h3>
                <div class="d-inline-block bg-primary mb-4" style="width:100px; height:4px;"></div>
                <h4 style="color:#858484;">Our games offer their players only relevant content thanks to the behavior analyzing algos. With machine learning technologies, our games make auto-adjustments and show highly personalized content.</h4>
            </div>
        </div>
    </div>
    <div class="row no-gutters text-dark my-5 py-md-5 py-0">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center ">
            <div class="right-tech">
                <h3 class="display-4 text-dark"><strong>Neural Style Transfer</strong></h3>
                <div class="d-inline-block bg-primary mb-4" style="width:100px; height:4px;"></div>
                <h4 style="color:#858484;">Basically, it is a deep learning technique of restyling images. Now our players can create unique Playgendary-style characters that look exactly like them</h4>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="square-bg neural position-relative">
            </div>
        </div>
    </div>
    <div class="row no-gutters text-dark my-5 pb-md-5 pb-0">
        <div class="order-2 order-md-1 col-12 col-md-6">
            <div class="square-bg unity position-relative">
                <img class="d-none d-md-block position-absolute unity-dude" src="images/tech/cat.png" />
            </div>
        </div>
        <div class="order-1 order-md-2 col-12 col-md-6 d-flex justify-content-center align-items-center ">
            <div class="left-tech">
                <h3 class="display-4 text-dark"><strong>Unity Engine</strong></h3>
                <div class="d-inline-block bg-primary mb-4" style="width:100px; height:4px;"></div>
                <h4 style="color:#858484;">All our games are created with Unity engine, which makes them universal and easy to adapt to any platform. Unity engine is undoubtedly on top of cross-platform game development. It offers high flexibility and reduces time and cost of development significantly.</h4>
            </div>
        </div>
    </div>
    <div class="row no-gutters text-dark mt-5 pt-md-5 py-0">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center ">
            <div class="right-tech">
                <h3 class="display-4 text-dark"><strong>Daydream – Google VR</strong></h3>
                <div class="d-inline-block bg-primary mb-4" style="width:100px; height:4px;"></div>
                <h4 style="color:#858484;">We’ve recently released a game for virtual reality in close cooperation with Google. Google Daydream has only been out for a year, and we’ve already created a cool VR game likely to become very popular.</h4>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="square-bg vr position-relative">
                <img class="d-none d-md-block position-absolute vr-dude" src="images/tech/dude-3.png" />
            </div>
        </div>
    </div>
</main>
<!-- Main end -->
{{> footer}}