<!-- Header start -->
<header class="container">
    <div class="navbar border border-primary border-top-0 navbar-light rounded-bottom flex-nowrap">
        <div class="navbar-brand text-primary align-top">
            <a href="/ap">Apanel</a>
        </div>
        <nav class="row no-gutters nav  ml-auto">
            <a class="nav-link " href="/ap/game_form"><i style="font-size:1.5rem" class="align-top fas fa-plus-square"></i> <span class="d-none d-md-inline-block">Create game</span></a>
            <a class="nav-link " href="/ap/logout"><span class="d-none d-md-inline-block">Logout</span> <i style="font-size:1.5rem" class="align-top fas fa-sign-out-alt"></i></a>
        </nav>
    </div>
</header>
<!-- Header end -->